- if not(user_signed_in?)
  %div{style:"text-align: center"}
    %h2{style:"color: gold"} Please Sign In First!
-else

  %div{style:"text-align: center"}
    %div
      %ul.nav.nav-tabs{:role=>"tablist"}
        %li.active{:role => "presentation" }
          %a(aria-controls="mi_my_appointments" data-toggle="tab"){:href => "#mi_my_appointments", :role=>"tab"} My Appointments
        %li{:role => "presentation" }
          %a(aria-controls="mi_change_password" data-toggle="tab"){:href => "#mi_change_password", :role=>"tab"} Change Password
        %li{:role => "presentation"}
          %a(aria-controls="mi_update_my_info" data-toggle="tab"){:href => "#mi_update_my_info", :role=>"tab"} Update My Info
      .tab-content{:style=>"padding-left: 10px"}
        %div.tab-pane.active#mi_my_appointments{:role=>"tabpanel", style:"padding:1%;width:100%;margin: auto"}
          %h2{style:"color: deepskyblue"} My Appointments
          %table.table{style:"background-color:rgba(0, 0, 0, 0.6); width:100%"}
            %tr
              %th.thMyAppt2 Time
              %th.thMyAppt2 Player1
              %th.thMyAppt2 Player2
              %th.thMyAppt2 Action
            %tbody#mi_my_appointments_tbody

        %div.tab-pane#mi_change_password{:role=>"tabpanel", style:"padding:1%;width:60%;margin: auto"}
          %h2{style:"color: deepskyblue"} Change Password
          %form#mi_edit_password.edit_account{"accept-charset" => "UTF-8", :action => "/users", :method => "post", :autocomplete => "off"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}
              %input{:name => "_method", :type => "hidden", :value => "put"}
              %input{:name => "authenticity_token", :type => "hidden", :value => "#{form_authenticity_token}"}
            .form-group
              %input#mi_user_email.form-control{readonly:true, :value => "#{current_user.email}" ,:type => "email"}
            .form-group
              %input#mi_user_current_password.form-control{:name => "user[current_password]", :type => "password", :placeholder => "Current Password",:autocomplete => "off", :value=>""}
            .form-group
              %input#mi_user_password.form-control{:name => "user[password]", :type => "password", :placeholder => "New Password"}
            .form-group
              %input#mi_user_password_confirmation.form-control{:name => "user[password_confirmation]", :type => "password", :placeholder => "New Password Confirm"}
            .pull-right
              %input.btn.btn-lg.btn-primary{:name => "commit", :type => "submit", :value => "Update"}
        %div.tab-pane#mi_update_my_info{:role=>"tabpanel", style:"padding:1%;width:60%;margin: auto"}
          %h2{style:"color: deepskyblue"} Update My Info
          %form.edit_user_profile{:id => "edit_user_account_#{current_user.id}" ,"accept-charset" => "UTF-8", :action => "/users", :method => "post"}
            %div{:style => "margin:0;padding:0;display:inline"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}
              %input{:name => "_method", :type => "hidden", :value => "put"}
              %input{:name => "authenticity_token", :type => "hidden", :value => "#{form_authenticity_token}"}
            .form-group
              %label{style:"color:gold"} Select Your Rank Level
              %select.form-control#mi_user_rankb{:name => "user[rankb]", value:"#{current_user.rankb}"}
                %option{:value => "Unranked"} Unranked
                %option{:value => "Bronze"} Bronze
                %option{:value => "Silver"} Silver
                %option{:value => "Gold"} Gold
                %option{:value => "Platinum"} Platinum
                %option{:value => "Diamond"} Diamond
                %option{:valie => "Master"} Master
                %option{:value => "Challenger"} Challenger
            .form-group
              %select.form-control#mi_user_ranks{:name => "user[ranks]", value:"#{current_user.ranks}"}
                %option{:value => "1"} 1
                %option{:value => "2"} 2
                %option{:value => "3"} 3
                %option{:value => "4"} 4
                %option{:value => "5"} 5

            .pull-right
              %input.btn.btn-lg.btn-primary{:name => "commit", :type => "submit", :value => "Update"}


:javascript
   $(document).ready(function(){
      document.getElementById("mi_user_rankb").value = "#{current_user.rankb}";
      document.getElementById("mi_user_ranks").value = #{current_user.ranks};
      loadMyAppointments();
   })

   function loadMyAppointments(){
       //get curtime in UTC with request
       var curtime = new Date(Date.now());
       curtime = timeToUTC(curtime);
       curtime = Math.round(curtime / 100000);

       $.ajax({
         url:  "/appointments/getMyAppt",
         type: "get",
         dataType: "json",
         data: {curtime: curtime},
         success: function(data){
           var html = "";
           for(var i = 0; i < data.allAppts.length; i++){
             var arow = loadOneAppointment(data.allAppts[i].player1ID, data.allAppts[i].player2ID, data.allAppts[i].gametime, data.allAppts[i].apptID);
             html = html + arow;
           }
           console.log(html);
           $("#mi_my_appointments_tbody").html(html);
         }
       });
   }

   function cancelAppt(id){
     $.ajax({
       url: "/appointments/cancelAppt",
       type: "put",
       dataType: "json",
       data: {apptID: id},
       success: function(data){
         $("#mi_my_appointments_tbody").html("");
         if(data.status == 1){
           loadMyAppointments();
         }
       }
     });
   }

   function loadOneAppointment(player1, player2, time, id){
     var offset = new Date().getTimezoneOffset();
     time = time * 100000 + offset*60*1000;
     var timestr = new Date(time);
     timestr = timestr.toString();
     var html = "<tr><th class='thMyAppt'>" + timestr.substring(0,21) + "</th>" +
                "<th class='thMyAppt'>" + player1 + "</th>" +
                "<th class='thMyAppt'>" + player2 + "</th>" +
                "<th class='thMyAppt'>" + "<a class='btn btn-danger' href='javascript:cancelAppt(" + id + ")'>Cancel</a>" + "</th></tr>";
     return html;
   }