%h1 Listing appointments

%table
  %thead
    %tr
      %th Gametime
      %th Player1id
      %th Player2id
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.gametime
        %td= appointment.player1ID
        %td= appointment.player2ID
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
